# ─────────────────────────────────────────────
# Copy this file to .env.local and fill in your values.
# Never commit .env.local to version control.
# ─────────────────────────────────────────────

NEXT_PUBLIC_SUPABASE_URL=https://yjofuolizghpiuhcxwyu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_8z167qzYL2O4nICJsN_b7w_1UwB9Sni
NEXT_PUBLIC_SOCKET_URL=https://spireless-elmira-unmurmurously.ngrok-free.dev
